<h1> <%= @survey.title %></h1>
<br>

  <form action="/survey/<%=@survey.id%>" method="post">
    <input name="_method" type="hidden" value="delete">

    <div class="form-group">
    <button type="submit" class="btn-danger">Delete Survey</button>
    </div>
  </form>
<br>
  <h4>Change Survey Title</h4>

  <form action="/survey/<%=@survey.id%>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <input name="title" id="title" type="text">
      <button type="submit" class="btn-success">Rename your Survey</button>
    </div>
  </form>

  <br><br>
  <h4>Add a Question to this Survey</h4>

  <form action="/survey/<%=@survey.id()%>" method="post">
    <div class="form-group">
      <input name="description" id="description" type="text">

      <button type="submit" class="btn-success">Add Question</button>
    </div>
  </form>

  <br>

  <h3>All the questions for this Survey</h3>

  <ul>
    <% @survey.questions.each do |question| %>
    <li><a href="/question/<%=question.id()%>"><%= question.name()%></a></li>
    <% end %>
  </ul>

  <br><br>
  <h5><a href="/" >Return to main page</a></h5>
